# Fichiers Python temporaires
__pycache__/
*.pyc

# Environnements virtuels
venv/
env/
.venv/

# Données et fichiers générés (Excel, KML, CSV)
*.xlsx
*.xls
*.kml
*.csv
*.log
*.json

# Dossiers d'éditeurs
.vscode/
.idea/